.footer {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  justify-items: start;
  align-items: start;
  width: 100%;
  height: 400px;
  background-color: #000000;
  padding: 20px;
  border-top: 2px solid #27661e;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px 0px;
  margin-left: 80px;
}

.container h1 {
  color: rgb(226, 226, 226);
  margin-bottom: 10px;
}

.container ul li {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.container ul li a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.social {
  display: flex;
  gap: 15px;
}

.social img {
  margin-top: 5px;
  width: 35px;
}

.google {
  margin-top: 15px;
}

.image {
  margin-top: 200px;
}
.social a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}


.policity {
  list-style: none;
  padding: 0;
  margin: 0;
}