/* Estilos generales (Computadora) */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #05050591;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.3s;
}

.title:hover {
  color: #59c535;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.items {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  margin: 0 10px;
  position: relative;
  transition: transform 0.3s, color 0.3s;
}

.item a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s;
}

.item:hover a,
.item.active a {
  color: #59c535;
}

.item::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #59c535;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.item.active::after,
.item:hover::after {
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  color: #59c535;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.login:hover {
  transform: scale(1.05);
  color: #4a9e2b;
}

.user {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.3s;
}

.user:hover {
  transform: scale(1.1);
}

/* Media Query para iPhone 14 Pro Max */
@media (max-width: 430px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .container {
    width: 100%;
    justify-content: center;
  }

  .items {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .item {
    margin: 5px 0;
  }

  .item a {
    padding: 10px 15px;
  }

  .login {
    margin-top: 10px;
  }

  .user {
    width: 20px;
    height: 20px;
  }
}