.container {
  margin-top: 83px;
  padding: 20px 60px 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #cf0e0e;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 10%;
    height: 10%;
    object-fit: cover;
  }
  
  .swiper {
    width: 10%;
    height: 300px;
    margin: 20px auto;
  }
